<div class="titleB">Change your password</div>
<p>
    <span class="fontsmaller">Enter your new password.</span>
</p>
<br/>

<%= error_messages_for :user %>
<% form_for :user, :html => {:id => "f_signup", :name => "f_signup" } do |f| -%>
<fieldset>
  <div class="fields">
    <p>
      <label for="user_password">New password</label>
      <%= f.password_field :password, :class => "fieldbox", :size => "40" %>
    </p>
    
    <p>
      <label for="user_password_confirmation">Repeat your new password</label>
      <%= f.password_field :password_confirmation, :class => "fieldbox", :size => "40" %>
    </p>
    
    <div class="actions">
      <%= submit_tag 'Reset', :class => "button mainaction" %>
    </div>
  </div>
</fieldset>
<% end -%>
