<%= error_messages_for :user %>
<% form_for :user, :url => admin_user_path(@user), :html => {:id => "settings"} do |f| -%>
  <h2>Update account</h2>
  <fieldset>

    <%= render :partial => 'form', :locals => { :f => f } %>
<!--
    <fieldset id="social-details">
      <legend>Social Network</legend>
      <label>Friends: <X= friends_list(@user) X></label>
      <div class="group">
         <label>Followers
            <ul>
               <X for profile in @user.profile.followers X>
              <li><X= profile.full_name X></li>
              <X end X>
            </ul>
         </label>
         <label>Followings
            <ul>
               <X for profile in @user.profile.followings X>
              <li><X= profile.full_name X></li>
              <X end X>
            </ul>
         </label>
      </div>
    </fieldset>
-->
    <%= submit_tag 'Update account', {:accesskey => "s"} %>

  </fieldset>
<% end -%>
