<div class="titleB">Update account</div>
<br />

<%= error_messages_for :user %>
<% form_for :user, :url => admin_user_path(@user), :html => {:id => "settings", :method => :put} do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <br />

  <div class="actions">
    <%= submit_tag 'Update account', {:accesskey => "s", :class=>"button mainaction"} %>
  </div>

<% end -%>