<div class="titleB">Create account</div>
<br />

<%= error_messages_for :user %>
<% form_for :user, :url => admin_users_path,  :html => {:id => "settings"} do |f| -%>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <br />

  <div class="actions">
    <%= submit_tag 'Create account', {:accesskey => "s", :class=>"button mainaction"} %>
  </div>

<% end -%>
